@font-face {
    font-family: PT Sans; /* Имя шрифта */
    src: url(theme/default/pt_sans.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Cuprum; /* Имя шрифта */
    src: url(fonts/Cuprum.ttf); /* Путь к файлу со шрифтом */
   }  
@font-face {
    font-family: Intro; /* Имя шрифта */
    src: url(fonts/Intro.ttf); /* Путь к файлу со шрифтом */
   }     
body {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #ffffee;
	height:100%;
	width:100%;
}
a,
a:hover,
a:focus {
    color: #ffffee;
    text-decoration: none;
}
.main-bg
{
background-color:#007CC4;
}
.animation{
position:fixed;
    width:125px;
    height: 152px;
    display:block;
    overflow:hidden;
	z-index:99;
}
.animation>img
{

}
.animation2{
position:absolute;
    width:150px;
    height: 150px;
    display:block;
    overflow:hidden;
	z-index:99;
}

.navigation{
display:table;
text-align:center;
height:100px;
}
.navigation-menu
{
display:table-cell;
position:absolute;
vertical-align:middle;
top:40%;
left:0;
text-align:center;
width:100%;
z-index:5;
padding:0;
margin:0;
}
.navigation-menu>a:hover,
.navigation-menu>a:focus{
font-family: 'Cuprum';
text-decoration: none;
font-size:200%;
 font-weight: 600;
letter-spacing:6px;
background-color:#E18D45;
padding:1.2% 2% 4.2% 2%;
/*background-image: url("images/bhand.png");
 background-position: 30% 20%; 
background-repeat: no-repeat;
background-size: cover; */
}
.navigation-menu>a{
font-family: 'Cuprum';
text-decoration: none;
font-size:200%;
 font-weight: 600;
letter-spacing:6px;
padding:1.2% 2% 4.2% 2%;
}
.navbar-brand {
    font-weight: 700;
    letter-spacing: 0.01px;
    font-size: 200%;
}
.navbar-inverse a {
    color: #ccc !important;
}
.navbar-inverse a:hover {
    background: #333 !important;
}
.navbar-nav a {
    font-weight: 400;
    font-size: 15px;
}
.navbar-custom {
    background-color: #FFFFFF; //#F8F8F8;
    border-color: #E7E7E7;
}
.footer {
    background-color: #E18D45;
    text-align: center;
	width:100%;
}
.footer-links>li
{
display:inline-block;
line-height:16px;
list-style: none;
padding:2%;
font-family:'Cuprum';
font-size:150%;
}
.footer-links>ul
{
background-color: #E18D45;
}
.text-area{
    padding-bottom:10px;
}
.footer-parent
{
display:table;
height:100%;
width:100%;
}
.footer-child
{
display:table-cell;
vertical-align:middle;
}
.main-content {
    background-color: #26211b;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pagination-bg {
    background-color: #786b59;
}
.main-pad img {
    padding: 1%;
    width: 100%;
    height: 100%;
}
.wrapper {
    /* Set a specific height */
    background-color:#007CC4;
	width:100%;
    height: 100%;
    /* Create the parallax scrolling effect */
    /*padding-bottom: 5%;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-pad {
    padding: 2%;
    margin-top: 30px;
    color: #ffffee;
    background-color: #786b59;
}
.main-pad,
a:link {
    color: #ffffee;
}
.main-pad > .nav-tabs {
    background-color: #786b59;
}
.main-pad > .tab-content {
    background-color: #26211b;
    color: #fff;
    padding: 5px
}
.main-pad > .nav-tabs > li > a {
    border: medium none;
    border-radius: 0;
}
.main-pad > .nav-tabs > li > a:hover,
.main-pad > .nav-tabs > li > a:focus {
    background-color: #ffffee;
    border: medium none;
    border-radius: 0;
    color: #786b59;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Параметры тени */
}
.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}
.navbar-brand {
    float: none;
    color: #f47053;
}
.navbar-brand,
a:hover {
    color: #ffe;
}
.navbar-nav {
    margin-top: 5px;
}
.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height: 100%;
}
.icons-main {
    padding: 12px;
    text-align: center;
    width: 100%;
}
.info {
    font-weight: bold;
    font-size: 50%;
}
.logo-bg
{
display: table;
height: 90%;
width: 100%;
    /*padding-bottom: 50%;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
background-image: url("images/logo.jpg");
}

.logo-place-parent {
display:table;
width:100%;
}
.logo-place-child {
display:table-cell;
vertical-align:middle;
text-align:center;
padding-top:20%;
}
.logo-img>img {
height:100%;
width:100%;
padding-top:18%;
padding-left:18%;
padding-right:18%;
padding-bottom:3%;
}
.item-place-parent {
display:table;
width:100%;
height: 100%;
padding-top:20px;
padding-bottom:20px;
}
.item-place-child {
display:table-cell;
vertical-align:middle;
text-align:left;
background-color:#2D94CF;
font-family:'Intro';
font-weight:600;
font-size:220%;
border-radius: 3px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.item-place-child>img {
width: 20%;
height: 20%;
padding:2%;
}
/*chrome fix*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.item-place-child>img {
	max-width: 50%;
	max-height: 50%;
	width: auto;
	height: auto;
	vertical-align: middle;
	border: 0;
	padding:2%; 
	}
}
.logo-btn
{
padding:4%;
border: 3px solid #fff;
font-family:'Intro';
font-weight:600;
font-size:220%;
}
.carousel-indicators
{
top:70%;
letter-spacing:20px;
}
.carousel-indicators>li
{
width:20px;
height:20px;
}
.carousel-indicators>.active
{
width:20px;
height:20px;
}

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}
.copyright {
    padding: 5px;
    font-size: 80%;
    background-color: #786b59;
}
.thumbnail {
    background: #ffffee;
    border: 0px;
}
.thumbnail_padding {
    padding: 2%;
}
.navbar-default {
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    border: 2px #ffffee;
    /* this was 1px earlier */
}
.btn-primary {
    background: #786B59;
    color: #ffffee;
    border: 0px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: #ffffee;
    color: #26211B;
}
.btn-primary:active,
.btn-primary.active {
    background: #007299;
    box-shadow: none;
}
/* цвет текста, содержащий название сайта или бренда */

.navbar-default .navbar-brand {
    color: #777;
}
.news {
    padding: 2%;
}
.news-title {
    font-size: 120%;
    font-weight: bold;
    width: 100%;
}
.news-text {
    color: #d1d1c1;
    width: 100%;
}
.news-date {
    font-size: 80%;
    color: #707066;
}
/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Цвет пунктов навигационного меню */

.navbar-default .navbar-nav > li > a {
    color: #777;
    border-color: #ffffff;
}
/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffee;
    background-color: #786b59;
}
/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffee;
    background-color: #786b59;
}
/* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffee;
    background-color: #786b59;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
/* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffee;
    border-bottom-color: #ffffee;
}
/* Цвет стрелочки (треугольничка), открывшегося пункта меню */

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* CSS стили для мобильных устройств */
/* Цвет рамки у кнопки, которая открывает меню */

.navbar-default .navbar-toggle {
    border-color: #ffffee;
    color: #786B59;
}
/* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #007CC4;
    color: #786B59;
}
/* Цвет полосочек в кнопочке, которая открывает меню */

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffee;
    color: #786B59;
}
/*
@media (max-width: 767px) {
    
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
}
@media all and (max-width: 1000px) {
    body {
        font-size: 100%;
    }
    .navbar-brand {
        font-size: 180%;
    }
}
@media all and (max-width: 360px) {
    body {
        font-size: 90%;
    }
    .navbar-brand {
        font-size: 180%;
    }
}*/
.navbar .nav > li > a {
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    -webkit-box-shadow: inset 2px 13px 5px -1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: inset 2px 13px 5px -1px rgba(0, 0, 0, 0.09);
    box-shadow: inset 2px 13px 5px -1px rgba(0, 0, 0, 0.09);
    color: #ffffee;
    font-weight: bold;
}
/*-- change navbar dropdown color --*/

.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #786b59;
    line-height: 19px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffee;
    font-weight: bold;
}
.pagination > li > a {
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
    color: #413b32;
    font-weight: bold;
    border-radius: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #040403;
    background-color: #ffffee;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #ffffee;
    background-color: #786b59;
    border-color: #FFFFEE border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #ffffee;
}
.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #040403;
}
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #040403;
}
.pagination>li:last-child>a:focus,
.pagination>li:last-child>a:hover,
.pagination>li:last-child>span:focus,
.pagination>li:last-child>span:hover {
    border-bottom: 2px solid #ffffee;
}
.pagination>li:first-child>a:focus,
.pagination>li:first-child>a:hover,
.pagination>li:first-child>span:focus,
.pagination>li:first-child>span:hover {
    border-bottom: 2px solid #ffffee;
}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group-item:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.carousel, 
	.carousel-inner, 
	.carousel-inner .item {
		text-align:center;
	}

/*.item:nth-child(1) {
	background: #74C390;
}

.item:nth-child(2) {
	background: #51BCE8;
}

.item:nth-child(3) {
	background: #E46653;
}
.item:nth-child(4) {
	background: #74C390;
}
.item:nth-child(5) {
	background: #51BCE8;
}
*/
.nopadding {
padding: 0 !important;
margin: 0 !important;
}
.site-footer-links{
display:table;
margin:0;
list-style:none;
}
.site-footer-links li
{
display:table-cell;
 vertical-align: middle;
}
#mobile-menu
{
position:fixed;
top:0px;
left:-300px;
background-color:#007CC4;
width:300px;
padding-top:70px;
height:100%;
z-index:6;
overflow-y:auto;
/*background-image: url("images/bhand.png");
background-position: 30% 20%; 
background-repeat: no-repeat;
background-size: 20%;*/
}
.mobile-menu-item
{
padding:20px;
}
.mobile-menu-item>li
{
font-family:'Intro';
font-weight:600;
font-size:200%;
letter-spacing:2px;
list-style:none;
}
